.pricing {
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Pricing__empe {
    font-size: 56px;
    max-width: 546px;
    color: #36536B;
}

.pricing__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
}

.pricing__item {
    padding: 0 20px;
    max-width: 350px;
}

.pricing__title1 {
    color: #BA4270;
    font-size: 24px;
    margin-bottom: 54px;
    margin-top: 18px;
}

.pricing__title2 {
    max-width: 350px;
    color: #6C8294;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: -38px;
}

.pricing__title3 {
    max-width: 350px;
    color: #6C8294;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 8px;
}

.pricing__line {
    max-width: 350px;
    padding: 0.1px;
    margin-top: 15px;
    border: 1px solid;
}

.pricing__gal {
    display: flex;
}

.pricing__title4 {
    color: #36536B;
    font-size: 16px;
    max-width: 150px;
    margin-top: 10px;
}

.pricing__img {
    opacity: 0;
}

.a {
    opacity: 0.6;
}

.pricing__button {
    padding: 16px 28px;
    border-radius: 24px;
    border: 2px solid #36536B;
    background-color: #EDF3F8;
    color: #36536B;
    margin-top: 20px;
    cursor: pointer;
}

.one {
    display: flex;
    margin-top: 80px;
    gap: 50px;
}

.variables {
    padding: 20px 0;
    margin-top: 150px;

    .variables__list {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .variables__block {
        max-width: 635px;

        .variables__block__item {
            font-size: 48px;
            color: #36536B;
            max-width: 546px;
        }
    }

    .variables__input {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}

.variables__in {
    padding: 16px 27px;
    border-radius: 24px;
    border: none;

}

.variables__button {
    padding: 16px 26px;
    background-color: #BA4270;
    border-radius: 24px;
    border: none;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .variables {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;

        .variables__list {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .variables__block__item {
        text-align: center;
    }
}

@media screen and (max-width: 578px) {
    .variables {
        padding: 10px;
    }

    .variables__input {
        flex-direction: column;
    }

    .variables__in {
        text-align: center;
    }

}



@media screen and (max-width: 888px) {
    .pricing {
        padding: 10px;
    }

    .one {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.variables__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background-color: #1B262F;
    margin-top: 100px;
}

.variables__blok {
    margin-top: 25px;
}

.variables__con {
    margin-top: 25px;
}

.variables__ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.footer__link {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    align-items: center;
    text-decoration: none;
}

.variables__pay {
    padding: 20px;
}

.variables__fotolar {
    padding: 20px;

}


@media screen and (max-width: 550px) {
    .variables__container {
        padding: 10px;
        flex-direction: column;
    }

    .variables__fotolar {
        margin-top: 50px;
    }

    .variables__ul {
        flex-direction: column;
    }

}